const path = require('path');
const defaultConf = require(path.resolve(__dirname, './default.config'));
const overrides = {
    db: {
        dialect: "sqlite",
        storage: ":memory:",
    },
    models_path: [path.resolve(__dirname, '../models')],
    seeders_path: path.resolve(__dirname, '../database/seeders'),
    migrations_path: path.resolve(__dirname, '../database/migrations'),
    factories_path: path.resolve(__dirname, '../database/factories'),
    importers_path: path.resolve(__dirname, '../database/importers'),
    routes_path: path.resolve(__dirname, '../routes'),
    controllers_path: path.resolve(__dirname, '../controllers'),
    repositories_path: path.resolve(__dirname, '../repositories'),
    resources_path: path.resolve(__dirname, '../resources'),
    commands_path: path.resolve(__dirname, '../console'),
    services_path: path.resolve(__dirname, '../services'),
};
const config = Object.assign(defaultConf, overrides);
module.exports = config;